
    *{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        color: aliceblue;
        background-color: #191970;
    }
    .row_col{
        border: 1px solid blue; 
        height: 90vh;
        margin: auto;
        overflow: auto;
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
    @media(max-width:991px)
    {
        #crud{
            height: 70vh;
        }
    }
    #prod_table{
        color: aliceblue;
        margin: auto;
    }
    td, th{
        color: aliceblue;
    }
    .prod_th{
        letter-spacing: 1px;
    }
    .crud_input{
        background-color: transparent;
        border: 1px solid blue;
        color: aliceblue;
    }
    .crud_td_btn{
        align-items: center;
        text-align: right;
        word-spacing: 20px;
    }
    .t_row{
        cursor: pointer;
        font-size: 15px;
    }

    /* edit and update button */
    .edit_delete{
        display: none;
        position: fixed;
        top: 80%;
        right: 0;
        margin-right: 15px;
    }
    .btn_edit_del{
        width: 100%;
        letter-spacing: 2px;
    }

    /* MODAL */
    .modal-dialog{
        margin-top: 15%;   
    }
    .modal-content{
        background-color:#191970;
        
    }
    .modal_btn{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
    }
    .modal_btn .btn{
        min-width: 80px;
    }
    @media (max-width:300px){
        .modal_btn{
            display: block;
            width: 100%;
        }
        .modal_btn .btn{
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    #select_cat{
        width: 100%;
        height:30px;
        border-radius: 5px;
        background-color: transparent;
        border-color: blue;
        color: aliceblue;
    }
    .select_opt{
        background-color: transparent;
        color: black;
    }

    #prod_display{
        overflow: unset;
    }
    .header_1{
        font-size: 1.5em;
    }
    .search_bar{
        display: inline-flex;
        width: 100%;
    }
    #inp_search{
        width: 70%;
        margin-right: 5%;
        background-color: transparent;
        border: 1px solid blue; 
        color: aliceblue;
    }
    #btn_search{
        width: 25%;
    }
    #msg2{
        position: absolute;
        width: 50%;
    }
    #products{
        height: 78vh;
        margin-top: 40px;
        overflow: auto;
    }

    