
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
    background-color:  #212529;
}
::-webkit-scrollbar-thumb{
    background-color: #2a2e32;
}
::-webkit-scrollbar-corner{
    background-color: #212529;
}
a{
    text-decoration: none;
    color: inherit;
}


/* NAVIGATION */
.navbar{
    border-bottom: 1px solid aliceblue;
}
.navbar-brand{
    letter-spacing: 5px;
}
#navbarNav{
    word-spacing: 20px;
}


/* MAIN CONTENT */
#main_container{
    margin-top: 57px;
    max-height: 90vh;
    padding: 0;
    overflow: visible;
}
/* .col{
    border: 1px solid aliceblue;
} */
#col7{
    display: flex;
    align-items: center;
}
#col7 h1{
    width: 100%;
    text-align: center;
}
.img{
    max-width: 100%;
    min-width: 300px;
    height:90vh;
    margin-left: 0;
    background-size: cover;
}


/* FOOTER */
#footer{ 
    text-align: center;
    margin-top: 1px;
    min-height: 200px;
    padding-bottom: 10px;
}
.connect, .project_link{
    margin: auto;
    line-height: 25px;
    margin-bottom: 15px;
}
#connect span{
    font-size: small;
}
.project_link{
    font-size: small;
}

/*  */
.fixed{
    font-size: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

    
