
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    height: 0px;
    width: 10px;
    background-color:  #212529;
}
::-webkit-scrollbar-thumb{
    background-color: #2a2e32;
}
::-webkit-scrollbar-corner{
    background-color: #212529;
}
a{
    text-decoration: none;
    color: inherit;
}


/* NAVIGATION */
.navbar{
    border-bottom: 1px solid aliceblue;
}
.navbar-brand{
    letter-spacing: 5px;
}
#navbarNav{
    word-spacing: 20px;
}


/* MAIN CONTENT */
#main_container{
    margin-top: 57px;
    max-height: 95vh;
    padding: 0;
    overflow: visible;
}
/* .col{
    border: 1px solid aliceblue;
} */
#photo{
    height: 100%;
}
#text{
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.myname{
    position: relative;
    text-align: left;
    font-size: 2em;
    font-family:monospace;
    width:fit-content;
}
.typewriter2{
    position: relative;
    text-align: left;
    font-size: 4em;
    font-family:monospace;
    width:fit-content;
}
.bi-laptop{
    font-size: .8em;
}
.img{
    max-width: 100%;
    height:92vh;
    margin-left: 0;
    background-size: cover;
}
@media (max-width:700px){
    #photo_text{
    position: relative;
    }
    #photo{
        width: 100%;
    }
    #text{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .myname{
        width: 100%;
        text-align: center;
        margin-left: 10px;
        font-size: 1.08em;
    }
    .typewriter2{
        width: 100%;
        text-align: center;
        margin-left: 10px;
        font-size: 1.8em;
    }
}

@media (min-width:1078px){
    /* typing effect */
    .typewriter2::after{
        content: '|';
        position: absolute;
        right: 0;
        color: aliceblue;
        background-color: #212529;
        width: 100%;
        animation: typing 3s steps(14) alternate infinite,
        blinking 2s infinite;
    }
    @keyframes typing{
        to{
            width: 0%;
        }
    }
    @keyframes blinking {
        50%{
            color: transparent;
        }
    }
}

/* FOOTER */
#footer{ 
    text-align: center;
    margin-top: 1px;
    min-height: 200px;
    padding-bottom: 10px;
}
.connect, .project_link, .contact{
    margin: auto;
    line-height: 25px;
    margin-bottom: 15px;
}
#connect span, #contact span{
    font-size: small;
}
.project_link{
    font-size: small;
}

/*  */
.fixed{
    font-size: 35px;
    position: fixed;
    bottom: 30px;
    right: 15px;
}

    
