
::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-button{
    background-color: whitesmoke;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(222, 220, 220);
}

.col-4, .col-8{
    height: 85vh;
    overflow: auto;
}
.admin_dashboard{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.admin_btn{
    width: 100%;
    font-size: 1.5em;
    background-color: blueviolet;
}
.col-8 h5{
    width: fit-content;
    padding: 4px;
    background-color: green;
    color: aliceblue;
    border-radius: 4px;
}   
/* #side_bar{

}
#data_display{

} */
table{
    width: 100%;
}

#sold, #accounts, #confirm_accounts{
    display: none;
}

.user_pass{
    width: 70%;
    border: none;
    background-color: transparent;
    text-align: center;
}

.btn_see{
    border: none;
    background-color: transparent;
}